[defaults]
# Desactiva la comprobación de firmas de host (evita el "yes/no" al conectar por primera vez)
host_key_checking = False

# Define la ruta por defecto del inventario para no tener que poner siempre -i
inventory = ./inventory.ini

# Silencia los avisos de python en la terminal
interpreter_python = auto_silent

